<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>clientId</key>
	<string>9599314b3ce229888c5f</string>
	<key>clientSecret</key>
	<string>81ee9a3f84c3b3853ef419802a9f7274c2db33a6</string>
</dict>
</plist>
